<a href="https://colab.research.google.com/github/Usori/Talento-na-Nuvem/blob/main/Desenvolvimento_9_Fun%C3%A7%C3%B5es_e_Calculadora_Victor_Hugo_Oliveira.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Instruções

Faça uma função calculadora de dois números com três parâmetros: os dois primeiros serão os números da operação e o terceiro será a entrada que definirá a operação a ser executada. Considera a seguinte definição:
1. Soma
2. Subtração
3. Multiplicação
4. Divisão

Caso seja inserido um número de operação que não exista, o resultado deverá ser 0.

## Biblioteca "unidecode"
- Instalando e importando biblioteca de normalização de string;
- Testes de uso.

In [3]:
!pip install unidecode

Collecting unidecode
  Downloading Unidecode-1.3.6-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.9/235.9 kB 3.0 MB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.3.6

In [4]:
from unidecode import unidecode

In [10]:
teste1 = "Divisão"
normalizar1 = unidecode(teste1)

teste2 = "Essa biblioteca é massa demais. Coração S2"
normalizar2 = unidecode(teste2)

print(teste1)
print(normalizar1)

print()

print(teste2)
print(normalizar2)

Divisão
Divisao

Essa biblioteca é massa demais. Coração S2
Essa biblioteca e massa demais. Coracao S2

## Função Calculadora e Casos Testes

In [23]:
import pandas as pd

In [24]:
def calculadora(num1 = 1, num2 = 1, operacao = ""):
  operacao = (unidecode(operacao)).lower()

  if operacao == "soma":
    return num1+num2

  if operacao == "sub" or operacao == "subtracao":
    return num1-num2

  if operacao == "mult" or operacao == "multiplicacao":
    return num1*num2

  if operacao == "div" or operacao == "divisao":
    if num2 == 0:
      return 0

    return num1/num2

  return 0

In [25]:
def calculadora_dataframe(row):
  return calculadora(row['Num1'], row['Num2'], row['Operação'])

In [26]:
def normalizar(row):
  return unidecode(row['Operação']).lower()

In [28]:
lista_testes = [
     [8,2,'soma']
    ,[8,2,'SubTração']
    ,[8,2,'sub']
    ,[8,2,'multiplicacao']
    ,[8,2,'mult']
    ,[8,2,'div']
    ,[8,2,'Divisão']
    ,[8,2,'Potenciação']
    ,[8,2,'multplicação']
]

df = pd.DataFrame(lista_testes, columns = ["Num1", "Num2", "Operação"])
df['Normalizado'] = df.apply(normalizar, axis=1)
df['Resultado'] = df.apply(calculadora_dataframe, axis=1)
df

   Num1  Num2       Operação    Normalizado  Resultado
0     8     2           soma           soma       10.0
1     8     2      SubTração      subtracao        6.0
2     8     2            sub            sub        6.0
3     8     2  multiplicacao  multiplicacao       16.0
4     8     2           mult           mult       16.0
5     8     2            div            div        4.0
6     8     2        Divisão        divisao        4.0
7     8     2    Potenciação    potenciacao        0.0
8     8     2   multplicação   multplicacao        0.0